
/* Style for report filter table*/


/* ---- Report filter form ---- */

	.reports #content .filter-form select.fields { display: none; }
	.reports #content .filter-form select.fields.visible { display: inline; }
	
	/* expand the "field" column as much as
	 * possible, to wrap other columns tightly */
	.reports .filter-form td.field {
		width: 100%; }
	
	.reports .filter-form td.deletelink {
		background-position: 50% 50%;
		cursor: pointer;
	}
	
	.reports .filter-form .filter-button {
		float: right; }
		
	.reports .filter-form tfoot td {
		text-align: center;
		padding: 5px;
	}
		
	.reports .filter-form tfoot td#report-add-filter {
		text-align: center;
		cursor: pointer;
		padding: 4px;
	}



