<div class="filter-form-module">
	<form action="reports" method="post" {% csrf_token %}>
	<table>
		<thead id="theader">
			<tr id="filter-model">
				<td colspan="4">
										
					Report On:
					<select id="filter-form-model" name="model">
					{% for model in models %}
						{% if model.name == model_name %}
							<option value="{{ model.app_label }}-{{ model.name }}" selected="selected">{{ model.caption }}</option>
						{% else %}
							<option value="{{ model.app_label }}-{{ model.name }}">{{ model.caption }}</option>
						{% endif %}
	
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr id="filter-headers">
				<th>Filter By Field</th>
				<th>Operator</th>
				<th>Value</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="filter-body">
			<tr>
				<td id="fields">
				{% for model in models %}
					<select class="fields{% if forloop.first %} visible{% endif %} filter-fields-{{ model.app_label }}-{{ model.name }}" name="{{ model.app_label }}-{{ model.name }}-field">
					
					{% for field in model.fields %}
						<option title="{{ field.help_text }}" value="{{ field.name }}">{{ field.caption }}</option>
						
					{% endfor %}
					
					</select>
				{% endfor %}
				
				</td>
				<td id="operators">
					<select name="operator">
						<option value="lt">Less Than</option>
						<option value="gt">Greater Than</option>
						<option value="">Equal To</option>
						<option value="">Contains</option>
						<option value="">Start with</option>
						<option value="">End with</option>
						<option value="">Between</option>
					</select>
				</td>
				<td id= "values">
					<input type="text" name="value" size="25" value="" />
				</td>
				<td id="remove-filter">
					<span class="removelink">Remove a Filter</span>
				</td>
			</tr>
		</tbody>
		
		<tfoot id="filter-foot">
			<tr>
				<td colspan="4" id="add-filter">
					<span class="addlink">Add a Filter</span>
				</td>
				
			</tr>
			<tr>
				<td colspan ="4" id="filter-button">
					<input type="submit" class="filter-button" value="Filter" />
				</td>
			</tr>
			
			
		</tfoot>
	</table>
	</form>
</div>


