{% extends "layout-split-2.html" %}

{% load includes %}
{% block title %} RUTF summary {% endblock %}

{% block page_stylesheets %}	

<link rel="stylesheet" href="/static/RUTF/stylesheets/dashboard.css" />
<link rel="stylesheet" href="/static/RUTF/stylesheets/export.css" />

<!-- <link rel="stylesheet" href="/static/RUTF/stylesheets/report.css" /> -->

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/assets/js/mootools-1.2-core-yc.js"></script>

{% endblock %}
{% block content %}


<h1>RUTF inventory summary</h1>

	{% incl_reporting_period %}

	{% incl_grid %}

	{% incl_send %}
	
	{% incl_notifications %}

	{% incl_graph %}

	
{% endblock %} 
