{% extends "layout-split-2.html" %}

{% load includes %}
{% block title %} RUTF summary {% endblock %}

{% block page_stylesheets %}
	<link rel="stylesheet" href="/static/rutfet/stylesheets/dashboard.css" />
{% endblock page_stylesheets %}

{% block javascripts %}
<script type="text/javascript" src="/static/js/jquery.js"></script>

{% endblock %}


{% block left %}
<div class="module">
	<p>
		Current reporting period is:<br>
		<strong>
		<span class="start">{{ start|date:"D dS M" }}</span>
		to <span class="to">{{ end|date:"D dS M" }}</span>
		</strong>

	</p>
	
	<p>
		<a href="#"><strong>{{ total_locations }}</strong> locations </a> are registered.<br/>
        	<a href="#"><strong>{{ total_reporters }}</strong> reporters </a> are registered<br/>
        	<a href="#"><strong>{{ total_currentperiod_entries }}</strong> report{{ summary.up2date|pluralize }}</a> ha{{ summary.up2date|pluralize:"s,ve" }} been reported in the current period
	</p>
	
	<!-- Current period Entries -->
      	        
        <table>
	<h3>Current Period Entries</h3><br>
	<thead>
		<tr>
			<th scope="column">Location</th>
			<th scope="column">Code</th>
			<th scope="column" class="tip" title="Quantity Received">Recvd</th>
			<th scope="column" class="tip" title="Consumption">Cons</th>
			<th scope="column" class="tip" title="Current Stock Balance">Bal</th>
		</tr>
	</thead>
	<tbody>
	{% for entry in entries %}
		<tr>
			<th scope="row"><span title="{{ entry.supply_place.type }}">{{ entry.supply_place.place }}</span></td>
			<td>{{ entry.supply_place.place.code }}</td>
			<td>{{ entry.quantity }}</td>
			<td>{{ entry.consumption }}</td>
			<td>{{ entry.balance }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
        
</div>

{% endblock %}


{% block right %}
<div class="module">


	


<!-- Notifications -->

<div class="box" style="width:400px;float:left;">
    <div style="padding:5px;"> 
       				<p> </p>
       	{% if notifications %}
		<div class="notifications module">
		<table>

			<h3>Unresolved Notification</h3><br>
			<thead>
				<tr>
					<th scope="column">Reporter</th>
					<th scope="column">Alert Message</th>
				</tr>
			</thead>
			<tbody>
			{% for n in notifications %}
				<tr>
					<td class="monitor"><a href="/rutf_reporter/{{ n.rutf_reporter.pk }}/">{{ n.rutf_reporter }}</a></td>
					<td class="msg"><a href="/notification/{{ n.pk }}/">{{ n.notice }}</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	{% endif %}
        
    </div>
</div>



<!-- Send Message-->

<div class="box" style="width:400px;float:left;">
    <div style="padding:5px;"> 
       	
       	<div class="send module">
	<form action="/send_sms/" method="POST">
		<fieldset>
						
			<table>
				<h3>Send a Message to RUTF Reporter(s)</h3><br>
					
				<tbody>
					<tr>
						<td class="form" id="send-form">
							<div class="textarea"><div>
								<textarea name="message"></textarea>
							</div></div>
	
							<input type="submit" id="fm-send-submit" value="Send" />
						</td>
						<td>
							<div class="recipients" id="send-recipients">
								{% for reporter in reporters %}
								<div>
									<input type="checkbox" value="{{ reporter.pk }}" id="fm-monitor-{{ reporter.pk }}" name="monitor-{{ reporter.pk }}" />
									<label for="fm-monitor-{{ reporter.pk }}">{{ reporter }}</label>
								</div>
								{% endfor %}
							</div>
							
							<script type="text/javascript">
								(function() {
									/* set the 'checked' status of all reporters
									 * at once, because there are a lot of them */
									var select_all = function (state) {
										$$("#send-recipients input").each (function(el) {
											el.checked = state;
										});
									};
									
									/* element to hold all/none buttons */
									var container = $("send-recipients");
									var txta = $$("#send-form textarea")[0];
									
									/* ...and the SELECT NONE button */
									new Element ("span", {
										"html": "Select All",
										"class": "sel-all",
										"title": "Select all reporters",
										"events": {
											"click": function (ev) {
												select_all (true);
												txta.focus();
										}}
									}).inject (container, "before");
									
									/* create the SELECT ALL button */
									new Element ("span", {
										"html": "Select None",
										"class": "sel-none",
										"title": "Select no reporters",
										"events": {
											"click": function (ev) {
												select_all (false);
												txta.focus();
										}}
									}).inject (container, "before");
									
									
									/* keep track of the last monitor
									 * link that was clicked, so double-
									 * clicked links can behave normally */
									var last_link = null;
									
									/* watch all clicks for clicks on reporters */
									$(document.body).addEvent ("click", function(ev) {
										var url = "/inventory/monitor/";
										var el = $(ev.target);
										
										if (el.get ("tag") == "a") {
											if (el.get ("href").slice (0, 19) == url) {
												
												/* if this link has already been clicked,
												 * then abort, and follow the link */
												if (last_link == el)
													return true;
												
												/* otherwise, this is the first click,
												 * but note this link for next time */
												el.set ("title", "Click again to follow link");
												last_link = el;	
												
												/* attempt to find a matching monitor checkbox */
												var pk = parseInt(el.get ("href").slice(19, -1));
												var check = $("fm-monitor-" + pk);
												if (check) {
												
													/* unselect all, except for the
													 * monitor that we just clicked on */
													select_all (false);
													check.checked = true;
													
													/* scroll the monitor into view (in
													 * the little recipients window), and
													 * briefly flash the background */
													var div = check.getParent();
													var pos = div.getPosition (container);
													container.scrollTo (0, pos.y);
													div.highlight();
													
													/* put the caret into the message
													 * textarea, so we can click, type,
													 * hit return to send messages */
													txta.focus();
													
													/* cancel the usual event */	
													ev.stop();
												}
											}
										}
									});
									
									/* auto-size the text area to fill the white-space
									 * below it (the recipients list is always higher) */
									$(document).addEvent ("domready", function (ev) {
										var cell_h = $("send-form").getSize().y;
										var but_h  = $("fm-send-submit").getSize().y;
										var rest   = 25; // sum of the padding, margins
										                 // and borders in the cell
										txta.setStyle("height", cell_h - but_h - rest);
									});
								})(); // module
							</script>
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</form>
</div>
        
    </div>
</div>
{% endblock %} 
