{% extends "rutf/layout-split-2_local.html" %}

{% load region_tags %}
{% load tabs_tags %}
{% load i18n %}

{% block title %} RUTF summary {% endblock %}



{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/rutfet/stylesheets/jquery-ui-1.8.5.custom.css">
<style text="text/css">

	span.reply {
	color: #74B5FF;
	cursor: pointer;
	font-weight:bold;
	}
	
	span.normal {
	color: #74B5FF;
	cursor: pointer;
	}
	
		
</style>
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="/static/rutfet/js/jquery.js"></script>
<script type="text/javascript" src="/static/rutfet/js/jquery-ui-1.8.5.custom.min.js"></script>

<script type="text/javascript">

	$(document).ready(function() {
		// set action to select all and select non options
		
		{% if notifications %}
			{% for n in notifications.object_list %}
				$('#reply-reporter-{{n.pk}}').click(function(e) {
					var $dialog = $('<div></div>')
					.html('<div> Message: <form action="/rutf/" method="POST"> \
							<textarea cols="40" rows="5" name="text_message"></textarea> \
							<input type="hidden" name="reporer_id" value="{{n.rutf_reporter.pk}}" /> \
							<input type="submit" name="submit" value="Send SMS" /> \
						</form> </div>')
				
					.dialog({
						autoOpen: false,
						modal: true,
						autoResize:true,
						width: 425,

						title: 'Reply to {{n.rutf_reporter.first_name}} {{n.rutf_reporter.last_name}}',
						/*buttons: {
							"Send SMS": function() {
								alert("hi");
							},
							
							Cancel: function() {
								$( this ).dialog( "close" );
							}
						}*/

						
					});
				
					$dialog.dialog('open');
														
					return false;
					
				});
		
	
				$("#reply-reporter-{{n.pk }}").hover(function() {
		  			$(this).addClass('reply');},
		  			function() {
		  			$(this).removeClass('reply');
		  		});
		  	{% endfor %}
	  		
	  	{% endif %}
  		
  				
	});
									
</script>
{% endblock %}


{% block left %}

<!-- Check whether reply is sent -->

{% ifnotequal recipients_name "" %}
	{%if reply_sent %}
		<div style="background-color: #FFF00C;font-weight:bold;text-align:center;font-size:14px;height:30px; vertical-align:middle" > Your reply is sent to {{recipients_name}} </div>
	{% else %}
		<div style="background-color: Red;font-weight:bold;text-align:center;font-size:14px;height:30px; vertical-align:middle" > Your reply is not sent to {{recipients_name}} </div>
	{% endif %}
	
{% endifnotequal %}



<div class="module">

	<div>
		<h3> Current Period Summary </h3>
		
		<img alt="Reporter and Non-Reporter proportion in pie chart" src="{{chart_src_path}}" align="left" >
		
		<p>
		Current reporting period is:<br>
		<strong><span class="start">{{ month}} - {{year}}</span></strong> <br>
		<a href="/rutf/health_posts"><strong>{{ total_locations }}</strong> health posts </a> are registered.<br/>
		<a href="/rutf/reporters"><strong>{{ total_reporters }}</strong> reporters </a> are registered<br/>
		
		<a href="/rutf/health_posts?hp_filter=reported"><strong>{{ total_currentperiod_entries }}</strong> health post{{ total_currentperiod_entries|pluralize }}</a> ha{{ total_currentperiod_entries|pluralize:"s,ve" }} reported in the current period <br/>

		<a href="/rutf/health_posts?hp_filter=late"><strong>{{healthpost_not_reported}}</strong> health post{{ healthpost_not_reported|pluralize }}</a> ha{{ healthpost_not_reported|pluralize:"s,ve" }} <b>not</b> reported in the current period
		
		</p>
		
	</div>	


</div>


<div class="module">

	<div>
				
			{% if not_confirmed_by_woreda > 0 or not_confirmed_by_zone > 0 or not_confirmed_by_region > 0 %}
			<h3> Unconfirmed Reports </h3>
			<p>
			
				{% if not_confirmed_by_woreda > 0 %} <b> {{not_confirmed_by_woreda}} </b> Report{{not_confirmed_by_woreda|pluralize}} under woreda  <br> {% endif %}
				{% if not_confirmed_by_zone > 0 %} <b> {{not_confirmed_by_zone}} </b> Report{{not_confirmed_by_zone|pluralize}} under Zone  <br> {% endif %}
				{% if not_confirmed_by_region > 0 %} <b> {{not_confirmed_by_region}} </b> Report{{not_confirmed_by_region|pluralize}} under Region   <br> {% endif %}
			</p>
			{% endif %}
			
		</div>	


</div>

<p>
<p>




<!-- Notifications -->

<div>
    <div style="padding:5px;"> 


		<div class="notifications module">
		<table width="100%">

			<h3>Alert Messages </h3><br>
			<thead>
				<tr>
					<th scope="column">Reporter</th>
					<th scope="column">Alert Message</th>
				</tr>
			</thead>
			{% if notifications %}
			<tbody>
			{% for n in notifications.object_list %}
				<tr>
					<td class="monitor"><a href="/rutf/reporter/{{ n.rutf_reporter.pk }}/">{{ n.rutf_reporter }}</a></td>
					<td class="msg">{{ n.notice }}  <br> <span id="reply-reporter-{{n.pk }}" class="normal"> Reply </span></td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2" style="text-align:right;">
					<span class="step-links">
						<span class="current">
							Page {{ notifications.number }} of {{ notifications.paginator.num_pages }}
						</span>
						
						<span class="previous">
							{% if notifications.has_previous %}
								<a href="?page={{ notifications.previous_page_number }}"> previous </a>
							
							{% endif %}
						</span>
						
						<span class="next">					
							{% if notifications.has_next %}
		    						<a href="?page={{ notifications.next_page_number }}">next</a>
	       						{% endif %}
       						</span>
       					</span>


					</td>
				</tr>
			</tfoot>
			{% endif %}
		</table>
		</div>
	
        
    </div>







</div>

{% endblock %}



{% block right %}

<div>
    <div style="padding:5px;"> 
	
	<!-- Current period Entries -->
	<div class="entries module">
	<h3>Current Period Entries</h3><br> 
		{{confirmed_entries_num}}/{{entries_num}} report(s) confirmed. 
		{% ifnotequal confirmed_entries_num entries_num %}
			<a href = "/admin/rutfet/entry/"> Confirm Reports</a>
		{% endifnotequal %}
	<p>
        <table width="100%">
	<thead>
		<tr>
			<th scope="column">Location</th>
			<th scope="column">Code</th>
			<th scope="column" class="tip" title="Quantity Received">Recvd</th>
			<th scope="column" class="tip" title="Consumption">Cons</th>
			<th scope="column" class="tip" title="Current Stock Balance">Bal</th>
		</tr>
	</thead>
	{% for entry in entries.object_list %}
	<tbody>
	
		<tr>
			<th scope="row"><span title="{{ entry.supply_place.type }}"><a href="/rutf/health_post/{{ entry.supply_place.location.id }}/">		{{ entry.supply_place.place }}</a></span></td>
			<td>{{ entry.supply_place.place.code }}</td>
			<td>{{ entry.quantity }}</td>
			<td>{{ entry.consumption }}</td>
			<td>{{ entry.balance }}</td>
		</tr>
	{% endfor %}
	</tbody>
	<tfoot>
				<tr>
					<td colspan="5" style="text-align:right;">
					<span class="step-links">
					
						<span class="current">
						Page {{ entries.number }} of {{ entries.paginator.num_pages }}
						</span>
						
						<span class="previous">
						{% if entries.has_previous %}
							<a href="?page={{ entries.previous_page_number }}"> previous </a>
						{% endif %}
						</span>
						
						<span class="next">
						
						{% if entries.has_next %}
            						<a href="?page={{ entries.next_page_number }}">next</a>
       						{% endif %}
       						</span>
       					</span>


					</td>
				</tr>
			</tfoot>
	</table>
	</div>
        
</div>


{% endblock %} 
